@using System.Net.Http
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web


@page "/customer/dashboard"
@attribute [Authorize(Roles = "Customer")]

<h3>Customer Dashboard</h3>
<p>Manage your appointments here.</p>

@code {

}
