@page "/location"

<h3>Our Location</h3>
<hr />

<div class="row">
    <div class="col-md-6">
        <h5>StudSpa & Wellness</h5>

        <p>
            <strong>Address:</strong><br />
            3553 25th St S<br />
            Fargo, ND 58102
        </p>

        <p>
            <strong>Phone:</strong><br />
            (701) 555-1234
        </p>

        <p>
            <strong>Hours:</strong><br />
            Monday – Friday: 9:00 AM – 5:00 PM<br />
            Saturday: 10:00 AM – 4:00 PM<br />
            Sunday: Closed
        </p>
    </div>

   >
</div>

@code {

}
